/* HEADER STYLING */
.header_bg {
  position: relative;
  height: 200px;
  max-width: 100%;
  overflow: hidden;
  color: #fff;
}
.header_skew {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  transform: skewY(-3deg);
  transform-origin: top left;
}

.navigation {
  max-width:100%;
  background-color: #000;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.navi_title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  flex-grow: 1;
}
.navi_title a {
  color: #fff;
  text-decoration: none;
}
.navi_menu {
  display: inline;
}
.navi_menu li {
  float: left;
  padding-right: 15px;
  font-family: 'Oswald', sans-serif;
  text-transform:uppercase;
  font-size: 18px;
  flex-grow: 1;
}
.navi_menu a {
  color: #fff;
  text-decoration: none;
}
.header_img {
  width: 150px;
  height: 150px;
  background-image:url(https://vignette.wikia.nocookie.net/mlp/images/e/e5/Tempest_Shadow_ID_MLPTM.png);
  background-size: cover;
  border-radius: 100%;
  border: 10px solid #d7d7d7;
  margin: 0 auto;
  margin-top: -120px;
  z-index: 99;
  position: relative;
}

/* FOOTER STYLING */
footer {
  max-width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: #000;
  padding: 10px;
  color: #fff;
  font-family: 'Overpass Mono', monospace;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
}

/* STANDARD CONTENT STYLING */
body {
  background-color: #e7e7e7;
}

.content {
  max-width: 75%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: justify;
}

article {
  margin-bottom: 10px;
  background-color: #fff;
}

.box{
  box-model: border-box;
  border-right: 10px solid transparent;
  background-clip:padding-box;
}

.portfolio-text {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.portfolio-text b {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* INDEX PAGE STYLING */
.section_title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
.section_info {
  text-align: justify;
  font-family: arial, sans-serif;
  font-size: 12px;
  padding: 5px;
}
.about_me {
  max-width:100%;
}

.education {
  max-width: 100%;
}
.edu_school {
  font-family: 'Overpass Mono', monospace;
  font-size: 14px;
  text-transform: uppercase;
  float: left;
}
.edu_dates {
  font-family: 'Overpass Mono', monospace;
  font-size: 14px;
  text-transform: uppercase;
  float: right;
}
.edu_major {
  clear: both;
  font-family: arial, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  font-style: italic;
}
.edu_summary {
  text-align: justify;
  font-family: arial, sans-serif;
  font-size: 12px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.skills {
  max-width: 100%;
}
.languages {
  max-width: 100%;
}

/* CODING PORTFOLIO PAGE STYLING */
.code-preview-bg {
  max-width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
}

.code-preview-fg {
  max-width: 100%;
  text-align: justify;
}
.code-preview-fg .caption {
  font-family: arial, sans-serif;
  font-size: 11px;
  text-align: justify;
}
.code-preview-fg .caption b {
  font-family: 'Overpass Mono', monospace;
  font-size: 14px;
  text-transform: uppercase;
}
.code-preview-fg img {
  width: 450px;
  max-width: 100%;
}

.code-intro {
  max-width: 100%;
  padding: 10px;
  text-align: justify;
}

/* GRAPHIC DESIGN PORTFOLIO PAGE STYLING */
.gd-preview-bg {
  max-width: 100%;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.gd-preview-fg {
  max-width: 100%;
  max-height: 175px;
  overflow: hidden;
}
.gd-preview-fg img {
  width: 333px;
  max-width: 100%;
}

.graphic-intro {
  max-width: 100%;
  padding: 10px;
  text-align: justify;
}

/* CONTACT PAGE STYLING */
label {
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-weight: normal;
  margin-bottom: 3px;
}

form {
  width:100%;
  margin:auto;
  position:relative;
}

input {
  width:100%;
  margin-bottom: 3px;
}

select {
  width:100%;
  margin-bottom: 3px;
}

textarea {
  width:100%;
  height: 100px;
  margin-bottom: 3px;
}

.social a {
  color: #000;
  text-decoration: none;
}

.social-icon {
  font-size: 36px;
}

.social-label {
  font-size: 14px;
}

.form-box {
  margin-bottom: 50px;
}
.contact-form {
  padding: 15px;
}

.form-input {
  padding: 5px;
}

.form-button {
  max-width: 150px;
  margin-right: 5px;
  background-color: #000;
  color: #fff;
  font-family: 'Overpass Mono', monospace;
  text-transform: uppercase;
  font-size: 12px;
}


/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
  body {
    background-color: blue;
    /* TODO: take this out before finalizing. this is only for testing */
  }

  .box {
      box-model: border-box;
      border: 0px solid transparent;
      background-clip:padding-box;
  }

  .code-preview-bg {
    width: 450px;
    max-width: 100%;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
  }

  .gd-preview-bg {
    width: 333px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .graphic-intro {
    width: 333px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .code-intro {
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 650px) {
  body {
    background-color: orange;
    /* TODO: take this out before finalizing. this is only for testing */
  }

  .header_bg {
    height: 125px;
  }

  .header_img {
    margin-top: -90px;
  }
  .navi_title {
    font-size: 16px;
  }
  .navi_menu li {
    font-size: 16px;
  }
}

@media screen and (max-width: 525px) {
  body {
    background-color: red;
    /* TODO: take this out before finalizing. this is only for testing */
  }

  .box {
      box-model: border-box;
      border: 0px solid transparent;
      background-clip:padding-box;
  }

  .form-button {
    max-width: 65px;
  }
}
