/* HEADER STYLING */
.header_bg {
  position: relative;
  height: 200px;
  max-width: 100%;
  overflow: hidden;
  color: #fff;
}
.header_skew {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: #868670;
  transform: skewY(-3deg);
  transform-origin: top left;
}

/* NAVIGATION STYLING */
.navigation {
  max-width:100%;
  background-color: #868670;
  color: #fff;
  padding: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.navi_title {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px #535353;
  font-size: 24px;
  flex-grow: 1;
}
.navi_title a {
  color: #fff;
  text-decoration: none;
}
.navi_menu {
  display: inline;
}
.navi_menu li {
  float: left;
  padding-right: 15px;
  font-family: 'Oswald', sans-serif;
  text-transform:uppercase;
  font-size: 24px;
  text-shadow: 1px 1px #535353;
  flex-grow: 1;
}
.navi_menu a {
  color: #fff;
  text-decoration: none;
}
.header_img {
  width: 150px;
  height: 150px;
  background-image:url("../img/sarah.png");
  background-size: cover;
  border-radius: 100%;
  border: 10px solid #fff;
  margin: 0 auto;
  margin-top: -120px;
  z-index: 2;
  position: relative;
}

/* FOOTER STYLING */
footer {
  max-width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 0;
  background-color: #868670;
  padding: 10px;
  color: #fff;
  font-family: 'Overpass Mono', monospace;
  text-shadow: 1px 1px #535353;
  font-size: 11px;
  text-transform: uppercase;
  text-align: center;
}

/* STANDARD CONTENT STYLING */
body {
  background-color: #e7e7e7;
}

.content {
  max-width: 75%;
  margin: 0 auto;
  padding: 10px;
  margin-top: 15px;
  margin-bottom: 25px;
  text-align: justify;
}

article {
  margin-bottom: 10px;
  background-color: #fff;
}

.box{
  box-model: border-box;
  border-right: 10px solid transparent;
  background-clip:padding-box;
}

.portfolio-text {
  font-family: Arial, sans-serif;
  font-size: 16px;
}

.portfolio-text b {
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  font-weight: normal;
}

/* INDEX PAGE STYLING */
.section_title {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
}
.section_info {
  text-align: justify;
  font-family: arial, sans-serif;
  font-size: 12px;
  padding: 5px;
}
.about_me {
  max-width:100%;
}

.education {
  max-width: 100%;
}
.edu_school {
  font-family: 'Overpass Mono', monospace;
  font-size: 14px;
  text-transform: uppercase;
  float: left;
}
.edu_dates {
  font-family: 'Overpass Mono', monospace;
  font-size: 14px;
  text-transform: uppercase;
  float: right;
}
.edu_major {
  clear: both;
  font-family: arial, sans-serif;
  font-size: 10px;
  text-transform: uppercase;
  font-style: italic;
}
.edu_summary {
  text-align: justify;
  font-family: arial, sans-serif;
  font-size: 12px;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 0.5rem;
  margin-bottom: 1rem;
}

.skills {
  max-width: 100%;
}
.languages {
  max-width: 100%;
}

/* CODING PORTFOLIO PAGE STYLING */
.code-preview-bg {
  max-width: 100%;
  background-color: #fff;
  margin-bottom: 10px;
  padding: 10px;
}

.code-preview-fg {
  max-width: 100%;
  text-align: justify;
}
.code-preview-fg .caption {
  font-family: arial, sans-serif;
  font-size: 11px;
  text-align: justify;
}
.code-preview-fg .caption b {
  font-family: 'Overpass Mono', monospace;
  font-size: 14px;
  text-transform: uppercase;
}
.code-preview-fg .caption a {
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-family: 'Overpass Mono', monospace;
  font-size: 10px;
  font-weight: bold;
}
.code-preview-fg img {
  width: 450px;
  max-width: 100%;
}

.code-intro {
  max-width: 100%;
  padding: 10px;
  text-align: justify;
}

/* CODE PAGE LIGHTBOX CONTENTS STYLING */
.portfolio_pop {
  max-width: 650px;
  height: 340px;
  padding: 10px;
  background-color: #d2d2d2;
}

.portfolio_pop .row {
  max-width: 95%;
  top: 5px;
  margin: 0 auto;
}

.portfolio_title {
  text-align:center;
  color: #fff;
  text-shadow: 1px 1px #000;
  font-family: 'Oswald', sans-serif;
  font-size: 36px;
  text-transform:uppercase;
}
.portfolio_image {
  width: 100%;
  border: 5px solid #fff;
}
.portfolio_image img {
  max-width: 100%;
}

.portfolio_lang {
  background-color: #e1e1e1;
  border: 5px solid #fff;
  padding: 5px;
}
.portfolio_lang_title {
  text-align:center;
  color: #fff;
  text-shadow: 1px 1px #000;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-transform:uppercase;
}
.portfolio_lang_text {
  text-align: center;
  font-size: 10px;
  font-family: 'Overpass Mono', monospace;
  text-transform:uppercase;
  color: #000;
}
.portfolio_about {
  background-color: #e1e1e1;
  border: 5px solid #fff;
  padding: 5px;
}
.portfolio_about_title {
  text-align:center;
  color: #fff;
  text-shadow: 1px 1px #000;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-transform:uppercase;
}
.portfolio_about_text {
  text-align: justify;
  font-size: 10px;
  font-family: 'Overpass Mono', monospace;
  color: #000;
}
.portfolio_about_text a {
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
}

/* GRAPHIC DESIGN PORTFOLIO PAGE STYLING */
.gd-preview-bg {
  max-width: 100%;
  overflow: hidden;
  background-color: #fff;
  padding: 10px;
  margin-bottom: 10px;
}

.gd-preview-fg {
  max-width: 100%;
  max-height: 175px;
  overflow: hidden;
}
.gd-preview-fg img {
  width: 333px;
  max-width: 100%;
}

.graphic-intro {
  max-width: 100%;
  padding: 10px;
  text-align: justify;
}

/* CONTACT PAGE STYLING */
label {
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  font-weight: normal;
  margin-bottom: 3px;
}

form {
  width:100%;
  margin:auto;
  position:relative;
  padding: 25px;
}

/* POP UP BOX */
.modal-content {
	display: none;
}

#fade-background {
	position: fixed;
	_position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000000;
	z-index: 3;
}
#modal-window {
	position: fixed;
	top: 64px;
	left: 50%;
	max-width: 860px;
	background-color: #F9F9F9;
	margin: 0 0 0 -430px;
	z-index: 3;
}

/* BOOTSTRAP CUSTOMIZATIONS */
.list-group-item-dark {
  background-color:rgba(134,134,112,0.1);
}

.btn-dark {
  background-color: #868670;
  border: 0px;
  font-family: 'Overpass Mono', monospace;
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
  text-shadow: 1px 1px #535353;
  letter-spacing: 1px;
}

.btn-dark:hover {
  background-color: #868670;
}

/* MEDIA QUERIES */
@media screen and (max-width: 991px) {
  .box {
      box-model: border-box;
      border: 0px solid transparent;
      background-clip:padding-box;
  }

  .code-preview-bg {
    width: 450px;
    max-width: 100%;
    background-color: #fff;
    margin: 0 auto;
    margin-bottom: 10px;
    padding: 10px;
  }

  .gd-preview-bg {
    width: 333px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .graphic-intro {
    width: 333px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }

  .code-intro {
    width: 450px;
    max-width: 100%;
    margin: 0 auto;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 650px) {
  .header_bg {
    height: 125px;
  }

  .header_img {
    margin-top: -90px;
  }
  .navi_title {
    font-size: 16px;
  }
  .navi_menu li {
    font-size: 16px;
  }
}

@media screen and (max-width: 525px) {
  .box {
      box-model: border-box;
      border: 0px solid transparent;
      background-clip:padding-box;
  }

  .form-button {
    max-width: 65px;
  }
}
